html
{
	margin: 0px;
	padding: 0px;
}
body
{
	font-family: Consolas,Monaco,'Andale Mono',monospace;
	text-align: left;
	margin:0px;
	padding:0px;
}
div.head
{
	background: #133f52;
	color: white;
	width: 100%;
	padding: 20px;
	overflow: hidden;
}
div.head .title
{
	width: 100%;
	font-size: 20px;
	font-family: "Segoe UI","Arial";
	font-weight: bold;
	font-size: 24px;
	margin: 0px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}
div.head .title img
{
	vertical-align: baseline;
	margin-bottom: -2px;
	margin-right: 4px;
	height: 22px;
}
div.head .title a
{
	color: inherit;
	text-decoration: none;
	line-height: 24px;
}
div.head .github
{
	float:right;
}
div.head .github a
{
	font-size: 15px;
	font-weight: normal;
	float:right;
	margin-right: 40px;
}
div.head .github a:hover
{
	text-decoration: underline;
}
div.main
{
	background: #fefefe;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	width:100%;
}
div.left
{
	float:left;
	width: calc(20% - 21px);
	max-width: 250px;
  	background-color: #1c4e63;
  	color: #ffffff;
  	border-right: 1px solid #133f52;
  	padding: 10px;
}
div.left ul
{
	color: #ffffff;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
div.left ul li
{
	margin-bottom: 10px;
}
div.left ul li a
{
	color: #ffffff;
	font-size: 20px;
}
div.left ul > li > ul
{
	list-style-type:square;
	padding-top: 10px;
	padding-left: 40px;
}
div.left ul > li > ul li
{
	margin-bottom: 0px;
}

div.left ul > li > ul li a
{
	color: #98dbcc;
	list-style-type:square;
	font-size:16px;
}

div.left ul > li > ul li.active
{
	background-color: #133f52;
}

div.page
{
	float:left;
	width:80%;
}
div.text
{
	margin-left: 20px;
	margin-right: 20px;
}
div.foot
{
	clear:left;
	background: #133f52;
	box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.1);
	height: 100%;
	color: silver;
	padding-top: 20px;

}
div.foot .cast
{
	margin-left: auto;
	margin-right: auto;
	width: 800px;
}

div.page h1, div.page h2, div.page h3, div.page h4, div.page h5, div.page h6
{
  font-family: 'Trebuchet MS', sans-serif;
  background-color: #f2f2f2;
  font-weight: normal;
  color: #20435c;
  border-bottom: 1px solid #ccc;
  padding: 3px 0 3px 10px;
  margin: 0px;
}

div.page h1
{
  margin-top: 0;
  font-size: 200%;
}

div.page p
{
  margin-left: 20px;
  margin-right: 20px;
  max-width: 800px;
}

div.page h2
{
  margin-top: 0;
  font-size: 200%;
}

div.hint
{
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0 0 #e9f6c3;
    padding: 10px;
    border-left: 0.5em solid #DDDDDD;
    overflow: hidden;
}

blockquote:before
{
    color: #999999;
    content: "“";
    display: block;
    font: italic 400%/1 Cochin,Georgia,"Times New Roman",serif;
    height: 0;
    margin-left: -60px;
}

blockquote
{
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 10px;
    border-left: 0.5em solid #DDDDDD;
    font-family: "Georgia";
}
blockquote, footer
{
    font-size: 1em;
    line-height: 1.5;
}
blockquote footer
{
    margin-bottom: 0;
}
cite
{
	color:#0090D2;
    font-style: italic;
    font-family: Georgia, serif;
}
p.code
{
	line-height: 160%;
}
ul
{
	list-style-type:lower-alpha;
}
ul.content
{
	color: #F92672;
}
ul a
{
	text-decoration: none;
	color: black;
}
ul a:hover
{
	text-decoration: underline;
}
ul li ul
{
	color: black;
}
div.hint img
{
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
}
h2 img
{
	vertical-align: bottom;
	margin-bottom: 4px;
}
/*ul.content
{
	list-style-type: none;
	margin-top: 20px;
}
ul.content li
{
	margin: 10px;
}
ul.content a
{
	box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
	background: #272822;
	color: #F92672;
	text-decoration: none;
	border-radius: 4px;
	padding: 4px;
}*/